<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Page</title>
    <div th:replace="~{fragment/layout.html :: header-files}"></div>
</head>

<body>
<div class="container-fluid">
    <div th:replace="~{fragment/layout.html :: header}"></div>
    <form class="form-horizontal" th:action="@{/user/save}" method="post" action="#">
        <fieldset>
            <!-- Form Name -->
            <legend>Create User</legend>

            <div th:replace="user/form.html :: instanceForm (instance=${user})"></div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="button1id"></label>
                <div class="col-md-8">
                    <button id="button1id" name="button1id" class="btn btn-success">Submit</button>
                    <button id="button2id" name="button2id" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
</body>
</html>